:root {
    --warning: #ffe066;
    --error: #ff6961;
    --grayLightest: #ccccd2;
    --grayDark: #3F3E4B;
    --graySVG: #8e8ea0;
}

.gpt-optimizer.gpto-action-buttons {
    display: flex;
    gap: .8rem;
}

.gpt-optimizer.gpto-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.gpt-optimizer.gpto-msg-details {
    color: #9999aa;
    font-size: .8rem;
}

.gpt-optimizer.gpto-button {
    padding: 2px;
    cursor: pointer;
    color: #9999aa;
    background: #343441;
    cursor: pointer;
    width: auto;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    transition: .2s ease-in-out;
}

.gpt-optimizer.gpto-button:hover {
    background: hsla(240, 11%, 23%, 0.8);
}

.gpt-optimizer.gpto-toast {
    bottom: -315px;
    right: 15px;
    cursor: pointer;
    width: 300px;
    max-width: 40%;
    position: fixed;
    z-index: 10000;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 90px;
    padding: 0.4rem 0.8rem;
    border: 1px solid #434754;
    border-radius: 10px;
    background: #212123;
}

.gpt-optimizer.gpto-hexCode {
    background: var(--color);
}

/* >> Popup Message << */
.gpt-optimizer.gpto-popupInner {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 90px;
    padding: 0.4rem 0.8rem;
    border: 1px solid #434754;
    border-radius: 10px;
    background: #212123;
}

.gpt-optimizer.gpto-popupInner .gpto-popupHeader {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.2rem;
    justify-content: space-between;
    font-weight: 500;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(67, 71, 84);
    margin-bottom: 1rem;
}

.gpt-optimizer.gpto-popupInner .gpto-popupHeader.noName {
    border-bottom: none;
    justify-content: end;
    margin-bottom: -1rem;
}

.gpt-optimizer.gpto-popupInner .gpto-popupHeader.noName span {
    display: none;
}

.gpt-optimizer.gpto-popupInner .gpto-popupHeader svg {
    height: 1.2rem;
    width: 1.2rem;
}

.gpt-optimizer.gpto-popupInner .gpto-popupContentWrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto 0;
}

::selection {
    background: #121417;
}

.gpto-hexCode::selection {
    background: var(--color);
}

#scrollToLatestButton {
    pointer-events: all;
    box-shadow: none;
}

/* scroll down button */
main button.cursor-pointer {
    display: none;
}

#__next>div.overflow-hidden.w-full.h-full.relative>div.dark.hidden.bg-gray-900.md\:fixed.md\:inset-y-0.md\:flex.md\:w-\[260px\].md\:flex-col {
    padding: auto;
    transition: 1.2s;
}

#__next>div.overflow-hidden.w-full.h-full.relative>div.flex.h-full.flex-1.flex-col.md\:pl-\[260px\] {
    transition: 1.2s;
    transform: translateX(0px);
}

.collapse #__next>div.overflow-hidden.w-full.h-full.relative>div.dark.hidden.bg-gray-900.md\:fixed.md\:inset-y-0.md\:flex.md\:w-\[260px\].md\:flex-col {
    transform: translateX(-260px);
}

.collapse #__next>div.overflow-hidden.w-full.h-full.relative>div.flex.h-full.flex-1.flex-col.md\:pl-\[260px\] {
    padding: 0;
}

#navToggler {
    position: absolute;
    top: 24px;
    right: 0px;
    width: 20px;
    height: 20px;
    transform: translateX(80%);
    border-radius: 5px;
    background: rgb(33, 33, 35);
    cursor: pointer;
    transition: 1.8s;
}

#navToggler .arrow {
    position: relative;
    display: inline-block;
    padding-top: 8px;
    padding-right: 16px;
    margin-left: 16px;
}

#navToggler .arrow::before {
    content: "";
    position: absolute;
    top: -4.2px;
    left: -8px;
    border-width: 4px 0px 4px 8px;
    border-style: solid;
    border-color: transparent transparent transparent #353541;
    transform: rotate(-180deg) translateX(50%);
    transition: 0.8s;
}

.collapse #navToggler .arrow::before {
    transform: rotate(0deg) translateX(-15%);
}

/* > prompting area < */
/* no pointer events on messages bottom margin */
main>div>div>div>div .flex-shrink-0 {
    pointer-events: none;
}
form textarea[inStorage="true"] {
    border-left: 2px outset #ffe066 !important;
    padding-left: 2px;
}

/* > clear extension < */
/* sorry wordtune, i love your service, but on this website it's simply not needed */
wordtune-container {
    display: none;
}

/* no AIPRM watermark */
main>div>div>div>div>div>div>div:nth-child(2)>div>div>div:nth-child(1)::after {
    background: none !important;
}

/* > Responsive for Mobile < */
/* nicer message actions on mobile */
.gpto-actions {
    gap: .4rem;
}
.gpto-actions,
.gpto-action-buttons {
    row-gap: .4rem;
    flex-wrap: wrap;
}
.gpto-action-buttons .gpto-read-aloud {
    position: relative;
}
.gpto-action-buttons .gpto-read-aloud:hover::before {
    transform: translate(-50%, -98%);
    opacity: 1;
}
.gpto-action-buttons .gpto-read-aloud::before {
    content: 'opt. key + click for reading settings';
    opacity: 0;
    position: absolute;
    padding: .2rem;
    width: 120%;
    line-height: 1rem;
    font-size: .8rem;
    top: 0;
    left: 50%;
    color: var(--grayLightest);
    background: var(--grayDark);
    border: 1px solid var(--grayLightest);
    transform: translate(-50%, 0);
    transition: .2s ease-in-out;
    pointer-events: none;
    border-radius: .2rem;
}

/* nicer prompt actions on mobile */
@media screen and (max-width: 768px) {
    form label {
        bottom: .6rem !important;
    }

    /* reload button */
    form button:nth-child(1) {
        padding: 0.4rem;
        height: min-content;
        aspect-ratio: 1 / 1;
    }

    #scrollToLatestButton {
        position: fixed;
        right: .6rem;
        bottom: 120%;
    }
}

form > div:nth-child(1) > div:nth-child(1) {
    pointer-events: all;
}
/* long message break word */
.text-base {
    word-break: break-word;
}

/* >> Prompting Area << */
.gpto-quickPrompt {
    cursor: pointer;
    text-transform: capitalize;
    height: fit-content;
}

/* > GPTO Elements< */
.gpto-button {
    padding: .6rem;
    background: #3f3f42;
    border-radius: 10px;
}
.gpto-textarea {
    padding: .6rem;
    background: #3f3f42;
    border-radius: 10px;
    outline: none;
}
.gpto-deleteMessage {
    fill: #fff;
}
.gpto-messageActions {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 0.8rem;
    color: rgba(172,172,190,var(--tw-text-opacity));
    cursor: pointer;
}